body
{
	background:url(../img/bg.png);
	//background-image: url("../img/giphy.gif");
	//opacity:.8;
	//background-repeat:repeat-y;
	max-width:100%;
}
.heading
{
	color:#e59b40;
	opacity:.7;
	text-align:center;
}

